main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: 10% 35% auto;
    gap: 30px;
    padding-bottom: 40px;
}

.thumbnail-column > * {
    border: solid 1px transparent;
}

.thumbnail-column > *:hover {
    border: solid 1px var(--color-header-footer);
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

.product-info > * {
    margin: 0;
}

.product-info p {
    color: var(--color-header-footer);
    text-transform: capitalize;
}

.product-info span {
    font-weight: bolder;
}

.price-star-inline {
    display: flex;
    align-items: baseline;
}

.price-star-inline > p {
    margin-right: 50px;
    font-weight: bolder;
}

.color-picker, .size-picker {
    display: flex;
    gap: 10px;
    padding-top: 5px;
    cursor: pointer;
}

.size-picker {
    margin-bottom: 20px;
}

.size-picker > *:hover {
    background: var(--color-light-green);
}

.color-container p, .size-container p {
    margin: 0;
}

.color-box {
    padding: 10px;
    border: solid 2px transparent;
}

.pick-orange {
    background: #fea037;
}

.pick-black {
    background: black;
}

.pick-blue {
    background: #06227B;
}

.active-color, .color-box:hover {
    transform: scale(1.3);
}

.size-box {
    padding: 10px;
    border: solid 2px #707070;
    min-width: 25px;
    box-sizing: content-box;
    text-align: center;
}

.size-box p {
    display: contents;
    color: #041C1B;
}

.active-size, .active-size p, .size-box:hover {
    background: var(--color-light-green);
    text-decoration: none;
    color: white;
}


.grid_container {
  margin-top: 50px;  
}

.grid_container h2 {
    grid-column: -1/1;
    text-align: left;
    color: var(--color-header-footer);
    margin-bottom: 0;
}

.cta_green:hover {

}

.nav_icons {
    margin-right: 80px;
  }