main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.shop-top {
    display: flex;
    justify-content: space-between;
}

.filters-sortby {
    display: flex;
    margin: auto 0;
}

.filters-sortby a {
color: #58777A;
text-transform: capitalize;
}

.filter-box {
    margin: 15px;
    border: solid 1px #58777A;
    height: fit-content;
    border-radius: 8px;
    width: 200px;
}

.filter-box:hover {
    border: solid 2px #0b3a40;
}

.filter-box a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


