main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.shop-top {
  display: flex;
  justify-content: space-between;
}

.filters-sortby {
  display: flex;
  margin: auto 0;
}

.filters-sortby a {
  color: var(--color-light-green);
  text-transform: capitalize;
}

.filter-box {
  margin: 15px;
  border: solid 1px var(--color-light-green);
  border-radius: 8px;
  width: 200px;
  background-color: white;
  color: var(--color-light-green);
}

.filter-box:hover {
  border: solid 2px var(--color-header-footer);
}

.filter-box a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart-box {
  border: 1px solid green;
  max-width: 600px;
  min-width: 200px;
  padding: 20px;
  margin: auto;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
