@import "imports/links.css";
@import "imports/variables.css";

/*Global*/
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: var(--text-pharagraph-header), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  margin-top: 109px;
}

h1 {
  color: var(--color-header-footer);
  font-size: 2em;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.8rem;
}

.form-succes {
  display: none;
  color: green;
  font-size: 0.8rem;
}
/*Header and Nav*/
header {
  display: block;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffffff 50%,
    var(--color-header-footer) 50%
  );
  position: fixed;
  z-index: 1;
  top: 0;
  min-height: 109px;
}

.logo-container {
  background: white;
}

.logo {
  margin-top: 5px;
  margin-left: 10px;
  max-width: 184px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

nav ul {
  display: flex;
  padding: 0;
}

nav li {
  display: inline-block;
  text-align: center;
}

.hamburger-label {
  float: left;
  color: white;
  padding: 10px;
  font-size: 1.5em;
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ ul {
  display: block;
  border: solid 1px white;
}

.header-icons-mobile {
  display: none;
}

.active {
  text-decoration: underline 3px var(--color-header-footer);
  text-underline-position: under;
}

.active_right_nav {
  text-decoration-color: #f2f2f2;
}

.nav_icons {
  position: relative;
}

.nav_icons button {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
}

.cart,
.profile {
  color: white;
  font-size: xx-large;
}

.total-items-in-cart {
  color: black;
  background: yellow;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
}

.nav_icons > *:nth-of-type(cart-container) {
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
}

.profile {
  padding-left: 15px;
}

.star-rating {
  color: var(--color-light-green);
  letter-spacing: 5px;
}

.nav_icons:hover button > * {
  opacity: 0.6;
}

.icon-active {
  color: var(--color-ligther-green);
}

@keyframes rotate {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/*Cart list*/

.cart-container {
  position: absolute;
  background: var(--color-header-footer);
  right: 0;
  top: 77px;
  width: 521px;
  display: none;
  transition: 3s;
  animation: rotate 200ms ease-in-out forwards;
}

.cart-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  color: white;
}

.cart-items {
  max-height: calc(100vh - 247px);
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  padding-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item .item-info {
  flex: 1;
  background-color: rgba(240, 240, 240, 0.6);
  border-radius: 0 8px 8px 0;
  gap: 10px;
  padding: 10px;
}

.cart-item .item-info:hover {
  background-color: rgba(248, 44, 44, 0.6);
  cursor: pointer;
}

.cart-item .item-info img {
  width: 75px;
}

.cart-item .unit-price {
  flex: 1;
  font-size: 1.2rem;
}

.cart-item .units {
  flex: 1;
}

.cart-item .units .number {
  margin: 0 10px;
  font-size: 1.2rem;
}

.cart-item .units .btn {
  width: 20px;
  height: 20px;
  background-color: rgb(245, 256, 55);
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cart-footer {
  width: 100%;
  background-color: rgb(245, 256, 55);
  bottom: 0;
  left: 0;
  border-left: 1px solid rgb(var(--right-side-bg-color));
}

.cart-footer div,
.cart-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  color: black;
  font-size: 1.3rem;
}

.cart-footer .checkout {
  background-color: rgb(245, 256, 55);
  cursor: pointer;
  text-decoration: none;
}

.checkout:hover {
  background: white;
  margin: 0;
  color: var(--color-header-footer);
}

.added-hide {
  color: green;
  padding-left: 40px;
  transition: 3s;
  opacity: 0;
}

/*footer*/

.top-footer {
  min-height: 150px;
  background: var(--color-light-green);
}

.top-footer-container > * {
  margin: 10px;
}

.top-footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social_container {
  padding: 0 10px;
}

.social_container > i {
  color: white;
  font-size: xx-large;
}

.social_container > i:hover {
  color: black;
}

.social_icons {
  display: flex;
  align-items: center;
}

.newsletter-box {
  color: white;
  font-size: 15px;
  padding-top: 15px;
  font-weight: 300;
}

.input_and_button {
  display: flex;
}

.input_and_button input {
  border: solid 1px white;
  border-radius: 4px 0px 0px 4px;
  background: transparent;
  max-width: 140px;
  padding: 7px;
  color: white;
  outline: none;
}

.input_and_button input:hover {
  border-color: black;
}

::placeholder {
  color: white;
  opacity: 1;
  text-transform: capitalize;
  font-size: smaller;
}

input:focus::placeholder {
  color: transparent;
}

.ok_button {
  position: relative;
  padding: 0 25px;
  background: #f2f2f2;
  margin-left: 20px;
  border-radius: 0px 4px 4px 0px;
  color: var(--color-header-footer);
  font-weight: 600;
}

.ok_button:hover {
  background: black;
}

.bottom-footer {
  background: var(--color-header-footer);
  text-align: left;
  padding: 5px;
  color: white;
}

.bottom-footer-content {
  max-width: 1200px;
  margin: auto;
}

.bottom-footer p {
  margin: 10px;
}

.copyright {
  font-size: small;
}

.small_arrow {
  max-width: 40px;
  padding-left: 15px;
}

/*Breadcrumbs*/

.breadcrumbs {
  padding: 20px 0;
  font-family: var(--text-pharagraph-header);
  font-size: small;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: ">";
  margin: 0 5px;
  color: #10474e;
}

/* Product grid and products styling used in shop and product page*/

.grid_container,
.grid_container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
  gap: 10px;
  row-gap: 30px;
  text-align: center;
  padding-bottom: 20px;
  margin: 20px 10px;
}

.products {
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  align-items: end;
  border: solid 1px transparent;
  padding-bottom: 5px;
}

.products img {
  object-fit: scale-down;
}

.products:hover {
  border: solid 1px var(--color-header-footer);
}

/*overlay pop up window*/
.overlay {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 20px;
  background: #b7c6c7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 3s ease-in-out;
}

.popup > * {
  max-width: 80%;
  margin: 0 auto;
}

.popup h2 {
  margin-top: 0;
  color: #041c1b;
}

.popup p::first-letter {
  text-transform: capitalize;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: white;
}
.popup .content {
  display: flex;
  flex-direction: column;
  font-family: var(--text-link-button);
}

.checked i {
  display: block;
  text-align: center;
  font-size: 100px;
  color: var(--color-light-green);
  margin: 20px;
}

.popup-button {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/*jacket info for checkout page and product popup*/
.item-count {
  font-size: x-small;
  font-weight: bold;
}

.line {
  border: 1px solid white;
  opacity: 0.6;
  display: block;
}

.item {
  display: flex;
  padding: 10px 0;
  margin: 6px 0;
  font-size: x-small;
  gap: 20px;
}

.info-jacket {
  margin-right: 10px;
}

/*Cart*/
.cart-box {
  position: fixed;
}
